/* Custom CSS for centering the <h1> and adding text shadow */
#main-image {
    background-image: url("images/mountains.jpg");
    height: 100vh;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.jumbotron {
    background-size: cover;
}

/* Overlay for jumbotron */
.overlay {
    position: relative;
    top: 20px;
    left: 0;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

/* Text shadow for <h1> */
.display-4 {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    /* Customize the shadow as needed */
}