.navbar {
    z-index: 2000;
}

#bookmark-image {
    background-image: url("images/bookmark.png");
}

#velaris-image {
    background-image: url("images/velaris.png");
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #intro {
        margin-top: -58.59px;
    }
}

.mask {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
}


h1 {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}