@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

.fantasy-bg-image {
    background-image: url('images/fantasy.jpg');
    background-color: black;
    height: 100vh;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
}

.mask {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
}

a.cipher {
    color: #fcfcfc;
    font-family: "Space Mono", monospace;
    font-size: 2rem;
    letter-spacing: 5px;
    text-decoration: none;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enter-book {
    background-image: url('images/bookdrawing.png');
    box-shadow: inset;
    background-size: contain !important;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 30%;
    width: 30%;
    margin: 2rem 4rem;
    opacity: 0.4;
}

.enter-book:hover {
    opacity: 0.8;
    transform: scale(1.4);
}

h1 {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.navbar-toggler {
    outline: white solid 1.5px;
}

.navbar {
    background-color: #0000006b;
    box-shadow: inset #222120 0px 10px 20px;
}

.offcanvas {
    margin-top: 56px;
    width: 20% !important;
}

.offcanvas-header {
    background-color: black;
    position: relative;
}

.offcanvas-body {
    flex-grow: 0.8 !important;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto';
    background-color: black;
    margin: 0;
}

.btn-close {
    position: relative;
    top: 1;
    z-index: 1;
}

.nav-item {
    color: black;
}

#wing-l {
    background-image: url("images/wingL2.png");
}

#wing-r {
    background-image: url("images/wingR2.png");
}

#wing-l,
#wing-r {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    height: 80px;
    width: 100%;
}

.offcanvas-footer {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: bold;
    font-family: 'Roboto';
    background-color: black;
    height: 20%;

}

.container-fluid {
    position: relative;
    z-index: 1;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.search-container {
    padding-top: 5%;
}

.search-container h3,
.navbar-brand {
    font-variant-caps: petite-caps;
}

.search-container h3 {
    text-shadow: #c34bffd1 2px 2px 4px;
}

.list-body,
.search-body {
    opacity: 0.3;
    background: #000;
    overflow: hidden;
    background-image:
        radial-gradient(circle at 40% 50%, #610b4b 0%, #a30d8a00 40%),
        radial-gradient(circle at 65% 60%, #420a50 0%, #580e7500 45%),
        radial-gradient(circle at 40% 60%, #076066 0%, #17777700 45%);
    background-blend-mode: screen;
}

#search-results {
    max-height: 80vh;
    overflow-y: auto;
}

#search-results .row {
    padding-top: 30px;
}

/* Hide extra cards initially
.card:nth-child(n+41) {
    display: none;
} */

.book-card {
    min-height: 100%;
    font-size: 1.4rem;
    transition: all 150ms ease-in-out
}

.bookcover {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

.bookcover img {
    border-radius: 4px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: black 4px 4px 8px;
}

.add-to-library {
    box-shadow: #0b0457 2px 4px 4px;
    z-index: 2;
    cursor: pointer;
}

.book-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* @media (max-width: 971px) {
    .cards {
        display: block;
    }

    .book-card {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

/* Media query for medium-sized screens 
@media (max-width: 992px) {
    .col-md-4 {
        flex: 0 0 50%;
        /* Two cards per row 
        max-width: 50%;
    }

    .book-card {
        /* Adjust card styles for medium-sized screens 
    }
}

/* Media query for small-sized screens 
@media (max-width: 768px) {
    .col-sm-6 {
        flex: 0 0 100%;
        /* One card per row 
        max-width: 100%;
    }

    .book-card {
        /* Adjust card styles for small-sized screens 
    }

    .book-card.card-body {
        display: none;
        /* Hide less important information 
    }
} */

/* Modal styles */
.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    cursor: pointer;
    font-size: 25px;
    color: #000000b0;
    position: absolute;
    right: 10px;
}

#modal .modal-content {
    display: flex;
    flex-direction: row;
    width: 80%;
    /* Adjust this to control the modal width */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modal-details {
    flex: 1;
    padding: 20px;
}

.modal-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
}

.modal-cover img {
    border-radius: 4px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border: 1px solid #ccc;
    box-shadow: black 4px 4px 8px;

}

.modal-details h2,
.modal-details h4,
.modal-details h5 {
    margin: 0 0 10px;
}

.modal-details .card-text {
    font-size: 20px;
}

.modal-details .list-group-item {
    font-size: 18px;
}

.modal-details .btn-primary {
    font-size: 18px;
    margin-top: 30px;
    float: right;
}

.mt-4 {
    margin-top: 5rem !important;
}

.author-list {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    z-index: 2;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #intro {
        margin-top: -58.59px;
    }
}

.to-be-read,
.currently-reading,
.already-read {
    padding-top: 25px;
    max-height: 10%;
}

#to-be-read-list,
#currently-reading-list,
#already-read-list {
    height: 100%;
    width: 100%;
}

.book-lists {
    margin-top: 60px;
    max-height: 90vh;
}

.horizontal-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    /* Hide scrollbars (for Mozilla Firefox) */
    -ms-overflow-style: none;
    /* Hide scrollbars (for Internet Explorer) */
}

/* Hide scrollbars (for Webkit browsers) */
.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

/* Container for the book card */
.book-list-card {
    perspective: 1000px;
    /* Enable 3D space for the card */
    width: 100%;
    height: auto;
}

.front-card,
.back-card {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.5s;
    /* Add a smooth flip animation */
    transform-style: preserve-3d;
    backface-visibility: hidden;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

/* Front of the card */
.front {
    transform: rotateY(180deg);
    /* Initially flipped to the front */
    z-index: 2;
    /* Displayed on top */
}

/* Back of the card */
.back {
    z-index: 1;
    /* Behind the front */
}

/* When the card is flipped, reverse the rotation */
.flipped .back {
    transform: rotateY(0deg);
}