<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lindsey's Bookshelf</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body class="fade-in search-body">
    <header>
        <nav class="navbar navbar-dark fixed-top">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="../../index.html">Lindsey's Bookshelf</a>
                <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                    aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-body">
                        <div class="d-flex flex-column">
                            <div class="mb-3">
                                <div class="offcanvas-header">
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="row">
                                    <div class="col">
                                        <div id="wing-l"></div>
                                    </div>
                                    <div class="col">
                                        <div id="wing-r"></div>
                                    </div>
                                </div>
                                <br>
                                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                    <li class="nav-item">
                                        <a id="search-link" class="nav-link" href="search.html">Search
                                            Library</a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="list-link" class="nav-link" href="list.html">View
                                            Lists</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="mb-3">
                            <div class="offcanvas-footer">
                                <div class="text-center p-3">
                                    © 2023 Copyright: Lindsey Jimenez
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="fantasy-bg-image">
        <div class="mask">
            <div class="search-container container">
                <div class="img-fluid">
                    <h3 class="text-white text-center">Search for Books</h3>
                    <div class="input-group mb-3">
                        <input type="text" id="search-input" class="form-control"
                            placeholder="Search by author or title">
                        <button id="search-button" class="btn btn-primary">Search</button>
                    </div>

                    <div id="search-results" class="row"></div>
                    <div id="modal" class="modal">
                        <div class="modal-container">
                            <div class="modal-content"> <span class="close" id="closeModal">&times;</span>
                            </div>
                        </div>
                    </div>
                    <div class="next-page text-center mt-4">
                        <button id="next-page-button" class="btn btn-primary" onclick="showNextPage()">Next
                            Page</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="../js/model.js"></script>
    <script src="../js/view.js"></script>
    <script src="../js/controller.js"></script>
    <script src="../js/search.js"></script>
</body>

<!-- 
<form class="star-rating-form" id="ratingsForm" method="POST" action="/works/OL17860744W/ratings.json"
    property="reviewRating" typeof="Rating" vocab="http://schema.org/">
    <meta property="worstRating" content="1">
    <meta property="bestRating" content="5">
    <input type="hidden" value="/books/OL26992991M" name="edition_id">
    <input type="hidden" value="true" name="redir">
    <div class="review" id="starRatingSection">
        <div class="stars" data-ol-link-track="StarRating|BookRated">
            <input type="submit" value="1" name="rating" class="star-1" id="star-1">
            <label class="star star-1 " property="worstRating" for="star-1">1</label>
            <input type="submit" value="2" name="rating" class="star-2" id="star-2">
            <label class="star star-2 " for="star-2">2</label>
            <input type="submit" value="3" name="rating" class="star-3" id="star-3">
            <label class="star star-3 " for="star-3">3</label>
            <input type="submit" value="4" name="rating" class="star-4" id="star-4">
            <label class="star star-4 " for="star-4">4</label>
            <input type="submit" value="5" name="rating" class="star-5" id="star-5">
            <label class="star star-5 " property="bestRating" for="star-5">5</label>

            <span></span>
        </div>
    </div>
    <span class="star-rating__not-rated">Rate</span>
    <button type="submit" class="star-messaging hidden">Clear my rating</button>
</form>



<ul class="readers-stats  " itemprop="aggregateRating" itemscope="" itemtype="https://schema.org/AggregateRating">
    <li class="avg-ratings" onclick="location.href='#starRatingSection';"
        data-ol-link-track="StarRating|StatsComponentClick">
        <span class="readers-stats__star">★</span><span class="readers-stats__star">★</span><span
            class="readers-stats__star">★</span>
        <span class="readers-stats__star--half">★</span>
        <span itemprop="ratingValue">3.93</span>
        <span class="dot">·</span>
    </li>

    <li class="readers-stats__review-count">
        <span itemprop="reviewCount">238</span> Ratings
    </li>
    <li class="reading-log-stat"><span class="readers-stats__stat">5107</span> <span class="readers-stats__label">Want
            to read</span></li>
    <li class="reading-log-stat"><span class="readers-stats__stat">382</span> <span
            class="readers-stats__label">Currently reading</span></li>
    <li class="reading-log-stat"><span class="readers-stats__stat">275</span> <span class="readers-stats__label">Have
            read</span></li>
</ul>-->

</html>